.coverage
.idea
*.egg-info
*.log
*.mo
*.py?
*.swp
# dirs
bin/
buildout-cache/
develop-eggs/
eggs/
htmlcov/
include/
lib/
local/
node_modules/
parts/
.plone.versioncheck*
dist/*
test.plone_addon/
var/
src/*
!src/collective
# files
.installed.cfg
.mr.developer.cfg
lib64
log.html
output.xml
pip-selfcheck.json
report.html
.vscode/
.tox/
reports/
# excludes
!src/collective
.plone-version
.python-version
.plone.versioncheck*
checkversion*
